accelerate==0.19.0
aiofiles @ file:///home/conda/feedstock_root/build_artifacts/aiofiles_1677173365185/work
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1676292674678/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
altair @ file:///home/conda/feedstock_root/build_artifacts/altair_1685366427998/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1685486400275/work/dist
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1640026696943/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1683424013410/work
av==10.0.0
certifi==2023.5.7
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1671179360775/work
charset-normalizer==3.1.0
click @ file:///home/conda/feedstock_root/build_artifacts/click_1666798198223/work
cmake==3.26.3
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
coloredlogs==15.0.1
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1673633659350/work
ctranslate2==3.14.0
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
datasets @ file:///home/conda/feedstock_root/build_artifacts/datasets_1682692167356/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1666603105584/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1678703645500/work
fastapi @ file:///home/conda/feedstock_root/build_artifacts/fastapi_1685818786592/work
faster-whisper @ https://github.com/guillaumekln/faster-whisper/archive/refs/heads/master.tar.gz#sha256=c75921ad249837dbb1ba5854b25e465a602cbc8f592ea5b321c812a052594226
ffmpy @ file:///home/conda/feedstock_root/build_artifacts/ffmpy_1659474992694/work
filelock==3.12.0
flatbuffers==23.5.26
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1683740440758/work
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1667935428519/work
fsspec==2023.5.0
gradio @ file:///home/conda/feedstock_root/build_artifacts/gradio_1679384519199/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1664132893548/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1633502706969/work
hpack==4.0.0
httpcore @ file:///home/conda/feedstock_root/build_artifacts/httpcore_1684845985138/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1684534812525/work
huggingface-hub==0.15.1
humanfriendly==10.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna==3.4
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1682176699712/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1676919000169/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1663332044897/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1669810440410/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1666805784128/work
linkify-it-py @ file:///home/conda/feedstock_root/build_artifacts/linkify-it-py_1651923627081/work
lit==16.0.5.post0
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1677100944732/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1685769048265/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1678135567769/work
mdit-py-plugins @ file:///home/conda/feedstock_root/build_artifacts/mdit-py-plugins_1670348296204/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1639515908913/work
mpmath==1.3.0
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1672339396340/work
multiprocess @ file:///home/conda/feedstock_root/build_artifacts/multiprocess_1666932893712/work
munkres==1.1.4
networkx==3.1
numpy==1.24.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
onnxruntime==1.15.0
orjson @ file:///home/conda/feedstock_root/build_artifacts/orjson_1685658305840/work/target/wheels/orjson-3.9.0-cp39-cp39-linux_x86_64.whl#sha256=ee31649dd1430239046eab6bb05dbde3d8b674bd4c96cbc9726de042c90e1927
packaging==23.1
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1685342911872/work
peft @ git+https://github.com/huggingface/peft@7fb5f90a38cb39a31396de7e638ead9ecea692af
Pillow==9.4.0
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1633981968097/work
protobuf==3.20.3
psutil==5.9.5
pyarrow==11.0.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1684880460658/work
pydub @ file:///home/conda/feedstock_root/build_artifacts/pydub_1615612442567/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
pyrsistent @ file:///home/conda/feedstock_root/build_artifacts/pyrsistent_1672681476680/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv_1677227146928/work
python-multipart @ file:///home/conda/feedstock_root/build_artifacts/python-multipart_1679167423335/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1680088766131/work
PyYAML==6.0
regex @ file:///home/conda/feedstock_root/build_artifacts/regex_1685823560528/work
requests==2.31.0
responses @ file:///home/conda/feedstock_root/build_artifacts/responses_1643839609465/work
sacremoses @ file:///home/conda/feedstock_root/build_artifacts/sacremoses_1651557636210/work
semantic-version @ file:///home/conda/feedstock_root/build_artifacts/semantic_version_1653579368137/work
sentencepiece @ file:///croot/sentencepiece_1684523560119/work/python
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1662051266223/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette-recipe_1684245096404/work
sympy==1.12
tokenizers==0.13.3
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1657485559105/work
torch==2.0.1
torchaudio==0.12.1
torchvision==0.13.1
tqdm==4.65.0
transformers==4.28.1
triton==2.0.0
typing_extensions==4.6.3
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1680081134351/work
uc-micro-py @ file:///home/conda/feedstock_root/build_artifacts/uc-micro-py_1608058642472/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1667239485250/work
urllib3==2.0.2
uvicorn @ file:///home/conda/feedstock_root/build_artifacts/uvicorn-split_1682667774211/work
websockets @ file:///home/conda/feedstock_root/build_artifacts/websockets_1683550120948/work
xxhash @ file:///home/conda/feedstock_root/build_artifacts/python-xxhash_1672695042097/work
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1685191803031/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1677313463193/work
